body {
    font-family: sans-serif;
    text-align: center;
    padding-left: 82px;
}

h1 {
    text-align: center;
    font-size: 45px;
    height: 40px;
}

abbr {
    text-decoration: none !important;
}

td {
    height: 15px;
    width: 50px;
}

table {
    margin: 30px;
}

